@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply font-sans text-slate-900;
}

@media print {
  @page {
    size: A3 landscape;
    margin: 10mm;
  }

  body {
    @apply text-black bg-white;
    font-size: 12pt;
  }

  .no-print {
    display: none !important;
  }

  .print-page {
    width: 100%;
    page-break-after: always;
  }
}
