<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwxVEjYqNePlIwTMpO5JAzeWj2JVqZ6NY</string>
	<key>GCM_SENDER_ID</key>
	<string>953804463412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.djrebrow.GuessTheSong</string>
	<key>PROJECT_ID</key>
	<string>guess-a-song</string>
	<key>STORAGE_BUCKET</key>
	<string>guess-a-song.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953804463412:ios:4049b3d325fbff07225961</string>
</dict>
</plist>